[Unit]
Description=GuardKall Teli Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/guardkall-teli
Environment=NODE_ENV=production
ExecStart=/usr/bin/node dist/index.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
